body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b3a2e;
    color: #f4f4f4;
}

.header {
    background-color: #2c5d47;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.header h2 a {
    color: white;
    text-decoration: none;
}

.header h2 {
    background-color: blue;
    padding: 20px;
    margin: 10px;
}

.nav {
    background-color: #3a7d61;
    padding: 20px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav li {
    display: inline;
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s;
    padding: 20px;
    font-size: 25px;
}

.nav a:hover {
    background: #4a9a7c;
    border-radius: 4px;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background: #2e4d3b;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    background-color: #3a7d61;
    padding: 16px;
    margin: 2px;
}

.header-right .login-button {
    background-color: white;
    color: #2e4d3b;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.header-right .login-button:hover {
    background-color: #3a7d61;
    color: #2e4d3b;
}

.contact {
    max-width: 1600px;
    height: 500px;
    margin: auto;
    padding: 20px;
    background: #2e4d3b;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contact h1 {
    margin-bottom: 20px;
    color: #d5e5d3;
}

.contact-table {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-table img {
    max-width: 400px;
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c5d47;
    color: lightblue;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    nav .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}